PORT=8000
# MONGODB_URL=mongodb+srv://pranaykumarpotlapelli_db_user:UfVQtmPluNQaBjpn@cluster0.ood1dkl.mongodb.net/?appName=Cluster0
# MONGODB_URL=mongodb+srv://pranaykumarpotlapelli_db_user:Pranay_12345@cluster0.ood1dkl.mongodb.net
# MONGODB_URL=mongodb+srv://pranaykumarpotlapelli_db_user:Pranay_12345@cluster0.ood1dkl.mongodb.net/?appName=Cluster0
MONGODB_URL=mongodb+srv://pranaykumarpotlapelli_db_user:Pranay_12345@cluster0.ood1dkl.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

